/* Default value */

$PIN_WIDTH: 38px;
$PIN_HEIGHT: 56px;

/* Stiziles */

html, body {
  height: 100%;
}

/* main */
#content {
  height: 100%;
}
.main {
  height: 100%;

  &__map {
    height: 100%;
    position: relative;
    overflow: hidden;
    &__pin {
      position: absolute;
      width: $PIN_WIDTH;
      height: $PIN_HEIGHT;
      left: -$PIN_WIDTH / 2;
      top: -$PIN_HEIGHT / 2;
      &--from {
        @extend .main__map__pin;
        background: url(../images/PinFrom.png) no-repeat;
      }
      &--to {
        @extend .main__map__pin;
        background: url(../images/PinToBlue.png) no-repeat;
      }
    }
  }
}
