/* Default value */

$PIN_WIDTH: 38px;
$PIN_HEIGHT: 56px;

/* Stiziles */

html, body, #content {
  width: 100%;
  height: 100%;
}

/* main */
.home {
  position: relative;
  height: 100%;
  &__map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &__pin {
      position: absolute;
      width: $PIN_WIDTH;
      height: $PIN_HEIGHT;
      left: -$PIN_WIDTH / 2;
      top: -$PIN_HEIGHT / 2;
      &--from {
        @extend .main__map__pin;
        background: url(../images/PinFrom.png) no-repeat;
      }
      &--to {
        @extend .main__map__pin;
        background: url(../images/PinToBlue.png) no-repeat;
      }
    }
  }
  &__searchbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 10px;
  }
}
